
  body {
    background: #333;
  
  }
  .list {
    list-style: none;
  }

  .flex-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }